{% extends 'music/base.html' %}
{% load static %}

	<!-- Favicon  -->
 <link rel="icon" href="{% static 'music/images/headphone.png' %}">
</head>
<body data-spy="scroll" data-target=".fixed-top">

    {% comment %} <!-- Preloader -->
	<div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <!-- end of preloader --> {% endcomment %}



{% block content %} 
    <!-- File Upload -->
    {% include 'music/check_genre.html' %}


    <!-- Statistics -->
    <div class="counter" id="statistics">
        <div class="row">
            <div class="col-lg-12">
                <h2>STATISTICS</h2>
            </div>
        </div>
        <div class="container" style="margin-top: 3rem;">
            <div class="row">
                <div class="col-lg-12">

                    <!-- Counter -->
                    <div id="counter">
                        <div class="cell">
                            <div class="counter-value number-count" data-count="1000"&nbsp>1</div>
                           
                            <p class="counter-info">Total Music</p>
                        </div>

                        <div class="cell">
                            <div class="counter-value number-count" data-count="750">1</div>
                            <p class="counter-info">Training Set</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="250">1</div>
                            <p class="counter-info">Testing Set</p>
                        </div>
                        <div class="cell">
                            <div class="counter-value number-count" data-count="73.20">1</div>
                            <p class="counter-info">Accuracy (%)</p>
                        </div>
                    </div>
                    <!-- end of counter -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of counter -->
    <!-- end of statistics -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form -->
    <!-- end of contact -->

{% endblock %}

</body>

</html>